/*
  FLEX CONTAINER PROPERTIES

    display: flex | inline-flex
    flex-direction: row! | column | row-reverse | col-reverse
      - direction of main axis
    flex-wrap: !nowrap | wrap | wrap-reverse
    flex-flow: 
      - shorthand for flex-direction flex-wrap (same defaults)
    justify-content: !flex-start | center | space-between | space-around | justify-content
      - where items sit on main axis
    align-items: !stretch | center | baseline | flex-start | start *
      - where items sit on cross axis
      * along writing-mode and not flex direction
    align-content: !normal | space-around | center | baseline | flex-start | stretch
      - space around items in cross axis

  FLEX ITEM PROPERTIES:

    flex: 
      - shorthand for flex-grow flex-shrink flex-basis
      - when omitted default values are 1 1 0
    flex-grow: !0 | 1 | 2..
      - 0 no
    flex-shrink: 0 | !1 | 2..| 200px
      - used if all items are wider than container
    flex-basis: !auto | content*| 100px
      - initial size
      * not supported in all browsers, would extend the item if i.e. width is shorter than content
    align-self: !auto | .. 
    order: !0 | ..

*/

/* common use cases
  modal
  center vertically anything
  same height children
  sticky footer
  navigation
*/

/* 
display property aspects:
	inline
		- has no height and width
		- margin - horizontal only
		- padding - horizontal works normally but vertically overflows parent
    - can have other elements on horizontal sides
	
	inline-block
		- has completely functioning height, width, margin, and padding
    - can have other elements on horizontal sides
	
	block
		- starts on a new line
		- defaults full width
    - normally can't have other elements on horizontal sides
*/

body {
  margin: 0;
}

.flex-demo {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.flex-header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  background-color: #ddd;
}
.flex-header h1 {
  margin: 0;
}
.flex-header .separator {
  flex-grow: 1;
}
.flex-header ul {
  display: flex;
  padding: 0;
  list-style-type: none;
}

.flex-content {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
}
.flex-content .item {
  flex: 300px;
  margin: 20px;
  border: 1px solid #333;
}

.flex-container ul {
  list-style: none;
}

.lists-container {
  display: none;
}

.footer {
  background-color: #ddd;
}

.modal-wrapper {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
}

.modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 300px;
  background: #dd2;
}

.modal-wrapper {
  display: none;
}
