/* 
  display: flex;
           inline-flex - container behaves like inline
  flex-direction: row! | column | row-reverse | col-reverse
    - of main axis
  flex-wrap: no-wrap | wrap | wrap-reverse
    - new line items may have different heights depending on the row not all rows
  flex-flow: flex-direction flex-wrap
  justify-content: center | space-between | space-around | justify-content | !flex-start
    - where items sit on main axis
  align-items: center | baseline | flex-start | !stretch | start *
    - where items sit on cross axis
    * along writing-mode and not flex direction
  align-content: space-around | center | baseline | flex-start | stretch
    - space around items in cross axis

  flex: flex-grow flex-shrink flex-basis 
    - if only px flex basis
  flex-grow: number
    - 0 no
  flex-shrink: number | 200px
    - used if all items are wider than container
    - initial size
  flex-basis: 200px |
  align-self
  order: number
    - !0

*/

/* WHY
  modal
  center vertically anything
  same height children
  sticky footer
  navigation
*/

body {
  margin: 0;
}

.flex-demo {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.flex-header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  background-color: #ddd;
}
.flex-header h1 {
  margin: 0;
}
.flex-header .separator {
  flex-grow: 1;
}
.flex-header ul {
  display: flex;
  padding: 0;
  list-style-type: none;
}

.flex-content {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
}
.flex-content .item {
  flex: 300px;
  border: 1px solid #333;
  margin: 20px;
}

.flex-container ul {
  list-style: none;
}

.lists-container {
  display: none;
}

.footer {
  background-color: #ddd;
}

.modal-wrapper {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
}

.modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 300px;
  background: #dd2;
}

.modal-wrapper {
  display: none;
}
